body{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: brown;
    text-align: center;
}
p{
    background-color: bisque;
    color: chocolate;
    padding: 15px;
    border: 1px solid #ccc;
}